html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: beige;
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #333;
    flex-wrap: wrap;
}

.nav-links {
    display: flex;
    gap: 15px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
}

.nav-links a:hover {
    text-decoration: underline;
}

.logo {
    height: 50px;
}

@media (max-width: 768px) {
    .nav-links a {
        padding: 2px 4px;
        font-size: 10px;
    }

    .logo {
        height: 30px;
    }

    .navbar {
        padding: 1px 1px;
    }
}

.background-image {
    position: relative;
    width: 100%;
    height: 50vh;
    overflow: hidden;
}

.background-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.center-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    padding: 2vw;
    border-radius: 10px;
    width: 80%;
}

@media (max-width: 768px) {
    .background-image {
        height: 40vh;
    }

    .background-img {
        object-position: center top;
    }

    .center-content {
        width: 90%;
        font-size: smaller;
    }
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 5vw;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap;
}

.container:nth-child(even) {
    flex-direction: row-reverse;
}

.content {
    flex: 1;
    min-width: 300px;
    max-width: 600px;
}

.side-image {
    flex: 1;
    width: 100%;
    max-width: 300px;
    height: auto;
    padding: 20px;
}

.buttons {
    margin-top: 20px;
}

.buttons button {
    padding: 10px 15px;
    font-size: 1rem;
    border: none;
    background-color: #ff4d4d;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s;
}

.buttons button:hover {
    background-color: #cc0000;
}

.comments {
    text-align: center;
}

.comment-container {
    padding: 20px;
}

.comment-box {
    background: white;
    padding: 15px;
    margin: 10px auto;
    width: 80%;
    max-width: 600px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #0000001a;
}

.button-container {
    text-align: center;
    margin: 20px 0;
}

.team-button {
    background-color: #222;
    color: white;
    padding: 15px 30px;
    text-decoration: none;
    font-size: 1.125rem;
    border-radius: 5px;
}

.team-button:hover {
    background-color: #555;
}

@media (max-width: 768px) {
    .container {
        width: 90%;
    }

    .side-image {
        width: 70%;
        max-width: 250px;
    }

    .content {
        max-width: 90%;
    }

    .buttons {
        gap: 5px;
        flex-wrap: nowrap;
    }

    button {
        padding: 4px 8px;
        font-size: 10px;
    }
}

